{% extends 'base.html' %}

<h1>Expenses List</h1>

<ul class="list_group">
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
    <li class="list-group-item">Bought Basket of Fruits</li>
</ul>